<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  >
    <xacro:include filename="inertial_macros.xacro"/>

    <material name="white">
        <color rgba="1 1 1 1" />
    </material>

    <material name="orange">
        <color rgba="1 0.3 0.1 1"/>
    </material>

    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>

    <material name="red">
        <color rgba="1 0 0 1"/>
    </material>


     <!-- BASE LINK -->

    <link name="base_link">

    </link>

     <!-- CHASSIS LINK -->

     <joint name="chassis_joint" type="fixed">
        <parent link="base_link"/> <!-- centre -->
        <child link="chassis"/>
        <origin xyz="-0.125 0 0"/>
    </joint>

    <link name="chassis">
        <visual>
            <origin xyz="0.125 0 0"/> 
            <geometry>
                <box size="0.25 0.2 0.06"/>
            </geometry>
            <material name="white"/>
        </visual>
        <collision>
            <origin xyz="0.125 0 0"/> 
            <geometry>
                <box size="0.25 0.2 0.06"/>
            </geometry>
        </collision>
        <xacro:inertial_box mass="0.5" x="0.25" y="0.2" z="0.06">
            <origin xyz="0.125 0 0" rpy="0 0 0"/>
        </xacro:inertial_box>
    </link>

     <!-- ROUE Gauche Haut GH -->

     <joint name="gh_wheel_joint" type="fixed">
        <parent link="base_link"/>
        <child link="gh_wheel"/>
        <origin xyz="0.1 0.135 0" rpy="-${pi/2} 0 0" />
        <axis xyz="0 0 1"/>
    </joint>

    <link name="gh_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.0575" length="0.07"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <xacro:inertial_cylinder mass="0.1" length="0.07" radius="0.0575">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

     <!-- ROUE GB -->

     <joint name="gb_wheel_joint" type="fixed">
        <parent link="base_link"/>
        <child link="gb_wheel"/>
        <origin xyz="-0.1 0.135 0" rpy="-${pi/2} 0 0" />
        <axis xyz="0 0 1"/>
    </joint>

    <link name="gb_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.0575" length="0.07"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <xacro:inertial_cylinder mass="0.1" length="0.07" radius="0.0575">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <!-- ROUE DH -->

    <joint name="dh_wheel_joint" type="fixed">
        <parent link="base_link"/>
        <child link="dh_wheel"/>
        <origin xyz="0.1 -0.135 0" rpy="-${pi/2} 0 0" />
        <axis xyz="0 0 1"/>
    </joint>
    
    <link name="dh_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.0575" length="0.07"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <xacro:inertial_cylinder mass="0.1" length="0.07" radius="0.0575">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

    <!-- ROUE DB -->

    <joint name="db_wheel_joint" type="fixed">
        <parent link="base_link"/>
        <child link="db_wheel"/>
        <origin xyz="-0.1 -0.135 0" rpy="-${pi/2} 0 0" />
        <axis xyz="0 0 1"/>
    </joint>
    
    <link name="db_wheel">
        <visual>
            <geometry>
                <cylinder radius="0.0575" length="0.07"/>
            </geometry>
            <material name="blue"/>
        </visual>
        <xacro:inertial_cylinder mass="0.1" length="0.07" radius="0.0575">
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </xacro:inertial_cylinder>
    </link>

</robot>